/*@import './header.css';*/

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Thin.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Medium.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Bold.ttf');
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-width: 20vw;
  --board-height: 75vh;
  --board-width: 60vw;
  --card-height: calc((var(--board-height) * 0.8) / 3);
  --card-width: calc((var(--board-width) * 0.8) / 8);
  --blue-bg: #065094;
  --red-bg: #d2202f;
  --light-blue-bg: skyblue;
}

.hide {
  display: none !important;
}

.two-columns {
  grid-template-columns: 2fr 3fr !important;
}

.double-width {
  width: calc(var(--sidebar-width) * 2) !important;
}

/* Main container */
#container {
  background-color: var(--light-blue-bg);
  display: grid;
  grid-template-rows: 15vh 85vh;
  height: 100vh;
  width: 100vw;
}

#game-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
